CompileFlags:
  Add:
    - -Wno-unused-variable
    - -Wno-unused-parameter
    - -Wno-unused-but-set-variable
  # - -Wno-unused-private-field
  # - -Wno-deprecated-declarations
  # - -Wno-microsoft-cast
  # - -Wno-switch
  # - -Wno-missing-declarations
  # - -Wno-string-plus-int
  # - -Wno-unused-function
  # - -Wno-assume
