[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/ggpo"]
	path = deps/ggpo
	url = https://github.com/pond3r/ggpo.git
[submodule "deps/gamenetworkingsockets"]
	path = deps/gamenetworkingsockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
# [submodule "deps/entt"] - in vcpkg
# 	path = deps/entt
# 	url = https://github.com/skypjack/entt
[submodule "deps/vcpkg"]
	path = deps/vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "./deps/imgui"]
	path = ./deps/imgui
	url = https://github.com/ocornut/imgui
[submodule ".\\deps\\angle"]
	path = .\\deps\\angle
	url = https://github.com/google/angle.git
