

#ignore make as we should use premake to generate the make file
*.make 

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
build

# Visual Studio 2015 cache/options directory
.vs/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

*.o
*.d
imgui.ini
game.exe