[submodule "deps/vcpkg"]
	path = deps/vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/ggpo"]
	path = deps/ggpo
	url = https://github.com/pond3r/ggpo.git
