[submodule "thirdparty/emsdk"]
	path = thirdparty/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "thirdparty/imgui"]
    path = thirdparty/imgui
    url = https://github.com/ocornut/imgui
[submodule "thirdparty/imguizmo"]
    path = thirdparty/imguizmo
    url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/vcpkg"]
	path = thirdparty/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "thirdparty/sdl"]
	path = thirdparty/sdl
	url = https://github.com/libsdl-org/SDL
